<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
        .form-group {
            margin-bottom: 1.5rem;
        }
        a {
            color: black !important;
            text-decoration: none;
            font-weight: bold;
        }
    </style>
</head>

<body>

    <div class="container mt-5">
        <button type="button" class="btn btn-info"><a href="./uploaded_video_player.html">Events</a></button>
          
        <div class="card">
            <div class="card-header">
                <h3>Event Registration Form</h3>
            </div>
            <div class="card-body">
                <form action="/api/register_event" method="POST" enctype="multipart/form-data">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="firstname">First Name</label>
                            <input type="text" class="form-control" id="firstname" name="firstname" placeholder="Your Answer">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="lastname">Last Name</label>
                            <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Your Answer">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="horsename">Horse Name</label>
                            <input type="text" class="form-control" id="horsename" name="horsename" placeholder="Your Answer">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="eventlocation">Event Location</label>
                            <input type="text" class="form-control" id="eventlocation" name="eventlocation" placeholder="Your Answer">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="formdate">Date</label>
                            <input type="date" class="form-control" id="formdate" name="formdate">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="leveldropdown">Level</label>
                            <select class="form-control" id="leveldropdown" name="level">
                                <option selected>Choose...</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="videoupload">Video Upload</label>
                            <input type="file" class="form-control-file" id="videoupload" name="videoupload">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="discipline">Discipline</label>
                            <select class="form-control" id="discipline" name="discipline">
                                <option selected>Choose...</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <script src="../js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>
